{% load static %}
{% load hasker_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %} {% endblock %}</title>
	<link href="{% static 'css/hasker.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        <a href="{% url 'hasker_app:questions_list' %}">HaSKER</a>
        <nav>
            <ul>
			    <li><a href="{% url 'hasker_app:questions_list' %}">Home</a></li>
			    <li><a href="{% url 'hasker_app:tags_list' %}">Tags</a></li>
	            {% if request.user.is_authenticated %}
			        <li><a href="{% url 'hasker_app:user_questions' %}">Your questions</a></li>
	            {% endif %}
			    <li><a href="{% url 'hasker_app:add_question' %}">Ask Question</a></li>
            </ul>
        </nav>
	    <form method="get" action="{% url "hasker_app:question_search" %}">
		    <input type="text" name="query" placeholder="Search...">
		    <input type="submit" value="Search" style="display: none">
	    </form>
        <div>
            <img src="/path/to/avatar" alt="User avatar">
	        {% if request.user.is_authenticated %}
				<a href="{% url 'account:profile' %}">Profile</a>
				<a href="{% url 'account:logout' %}">   Logout</a>
			{% else %}
				<a href="{% url 'account:login' %}">Log-in</a>
			{% endif %}
        </div>

    </header>
	<div class="main">
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
		<div id="sidebar">
			<h2>This is Hasker</h2>
			<h3>TRENDINGS</h3>
			{% show_most_rated_questions %}
		</div>
	</div>

</body>
</html>