{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %} {% endblock %}</title>
	<link href="{% static 'css/hasker.css' %}" rel="stylesheet">
</head>
<body>

	<div id="content">
		{% block content %}
		{% endblock %}
	</div>
	<div id="sidebar">
		<h2>Hasker</h2>
		<p>This is Hasker</p>
{#		<aside>#}
{#	        <ul>#}
{#	            <li><a href="/">Home</a></li>#}
{#	            <li><a href="/tags">Tags</a></li>#}
{#	            <li><a href="/users">Users</a></li>#}
{#	            <li><a href="/ask">Ask Question</a></li>#}
{#	        </ul>#}
{#        </aside>#}
	</div>
</body>
</html>