{% extends 'hasker_app/base.html' %}

{% block title %} {{ question.title }} {% endblock %}

{% block content %}
	<h1>{{ question.title }}</h1>
	<p class="date">
		Published by {{ question.author }} at {{ question.publish }}
	</p>
	<div class="tags-wrapper">
		{% for tag in question.tags.all %}
			<a class="post-tag flex--item mt0"
			   href="{% url "hasker_app:questions_list_by_tag" tag.title %}"
			   title="Get all questions with {{ tag.title }}">{{ tag.title }}</a>
		{% endfor %}
	</div>
	{{ question.body|linebreaks }}
	{% with answers.count as total_answer_number %}
		<h2>{{ total_answer_number }} answer{{ total_answer_number|pluralize }}</h2>
	{% endwith %}
	{% for answer in answers %}
		<div class="answer">
			<p class="info">
				Answer for {{ forloop.counter }} by {{ answer.author.username }}
				{{ answer.created }}
			</p>
			{{ answer.body|linebreaks }}
		</div>
	{% empty %}
		<p>No answers yet!</p>
	{% endfor %}

	{% include 'hasker_app/question/includes/add_answer_form.html' %}
{#	{% include 'hasker_app/question/includes/add_question_form.html' %}#}
{% endblock %}